/*  import admin-lte css */

@import "admin-lte/dist/css/adminlte.min.css";
@import "admin-lte/plugins/fontawesome-free/css/all.css";

.login-card-body,
.register-card-body {
    padding: 40px !important;
    border-radius: 10px !important;
}

.card {
    border-radius: 4px !important;
}

.login-page,
.register-page {
    background: #10038f !important;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

